# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm
# production
build
# Environment variables
.env
# Optional REPL history
.DS_Store
.idea
.vscode

#test ignore
backend/testToken.js
